# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
agenda-backend/node_modules/
agenda-frontend/node_modules/

# Builds
dist/
agenda-frontend/dist/
agenda-backend/dist/

# Environment
.env
.env.*
agenda-backend/.env
agenda-backend/.env.*
agenda-frontend/.env
agenda-frontend/.env.*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?